@mdx-js/loader 
@mdx-js/react 
@myriaddreamin/rehype-typst
@next/bundle-analyzer
@next/mdx
@shikijs/rehype
@types/mdx
next
npm-run-all
react
react-dom
react-resizable-panels
remark-gfm

remark-math
sass
shiki
tsc
tsx

