@charset "UTF-8";
.center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.gridRowFlow {
  display: grid;
  grid-auto-flow: column; /* Dồn item theo hàng ngang */
  justify-content: space-between;
}

.headerContainer {
  position: relative;
}
@media (max-width: 700px) {
  .headerContainer .mobile {
    display: block;
  }
  .headerContainer .desktop {
    display: none;
  }
}
@media (min-width: 701px) {
  .headerContainer .mobile {
    display: none;
  }
  .headerContainer .desktop {
    display: block;
  }
}
.headerContainer {
  border-bottom: 2px solid hsl(211, 100%, 50%);
}

.desktop {
  padding: 0 40px;
}
.desktop .layout {
  max-width: 900px;
  width: 100%;
  height: 100%;
  display: grid;
  grid-auto-flow: column; /* Dồn item theo hàng ngang */
  justify-content: space-between;
  gap: 30px;
}

.mobile {
  height: 80px;
  padding: 0 10px;
}
.mobile .layout {
  width: 100%;
  height: 100%;
  display: grid;
  grid-auto-flow: column; /* Dồn item theo hàng ngang */
  justify-content: space-between;
}

.desktop .rightBox {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.desktop .mainNav {
  width: 100%;
  height: 100%;
  gap: 50px;
  display: grid;
  grid-auto-flow: column; /* Dồn item theo hàng ngang */
  justify-content: space-between;
}
.desktop .mainNav > ul {
  display: grid;
  grid-auto-flow: column; /* Dồn item theo hàng ngang */
  justify-content: space-between;
  gap: 20px;
}

.mobile .rightBox, .mobile .leftBox {
  display: grid;
  grid-auto-flow: column; /* Dồn item theo hàng ngang */
  justify-content: space-between;
  gap: 20px;
}
.mobile .rightBox > ul, .mobile .leftBox > ul {
  display: grid;
  grid-auto-flow: column; /* Dồn item theo hàng ngang */
  justify-content: space-between;
  gap: 10px;
}

.headerContainer li {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.headerContainer a {
  text-decoration: none;
  color: black;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.2;
}
.headerContainer a:hover {
  color: hsl(211, 100%, 50%);
}

.topRight {
  position: absolute;
  right: 10px;
  align-self: center;
  z-index: 3;
}
