@mixin center{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}
@mixin gridRowFlow{
    display: grid;
    grid-auto-flow: column; /* Dồn item theo hàng ngang */
    justify-content: space-between;
}
@mixin fillParent{
    width: 100%;
    height: 100%;
}

.center{
    @include center;
}
.gridRowFlow{
    @include gridRowFlow();
}