@use "abstract/display";
@use 'abstract/colors';
@use "base/reset";
@use "base/typo";
@use "base/base";

/* @use "components/mermaid"; */
@use "layout/dual";
@use "layout/table";
@use "layout/sidebar";
@use "layout/code";
@use "page/home";


details{
    border: 1px solid green;
    cursor: pointer
}
.resizeHandler{
    background: black;
    border : 1px solid grey;
    &:hover{
        border : 3px solid colors.$accent-color;
    }
}
.full-x{
    overflow-x: auto;
}
.debug{
    border: 1px solid green;
    border-radius: 5px;
    margin-bottom: 1rem;
}


.grid{
  margin: 10px;
  width: 100%;
  max-width: 1200px;
  display: grid;
    /* Chia nhiều cột khi đủ chỗ, thu hẹp thì dồn xuống dòng */
  grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
  justify-content: center; /* hoặc stretch */
    gap: 1rem; /* Thêm khoảng cách giữa các item nếu muốn */
}
// .grid {
//     display: flex;
//     flex-wrap: wrap;
//     gap: 1rem;
//     margin: 10px
//   }
  
.grid > * {
    padding: 0 8px; /* khoảng cách giữa các item */
    box-sizing: border-box;
    width: 100%; /* hoặc calc-based */
  }

:root {
    --content-font: var(--font-garamond);
}

